body{
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div{
    width: 400px;
    height: 450px;
    border-radius: 50%;
    transition: 1s;
    overflow: hidden;
    background-image: url(https://i.pinimg.com/564x/95/e2/b3/95e2b3f560c4f3fd70641b16109bb128.jpg);
    background-size: cover;

}
div:hover{
    background-image: url(https://i.pinimg.com/474x/13/0c/52/130c5233fbda5d0b9db0595228eeeb02.jpg);

}
img{
    height: 400;
}